body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ffd7d7 0%, #ffe5e5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  color: #333;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

input, select, textarea {
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}



.task-list {
  margin-top: 2rem;
  text-align: left;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task-item h4, .task-item p {
  margin: 0 10px;
}

.task-item span {
  flex-grow: 1;
  cursor: pointer;
}

.task-item input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-top:14px;
}

.task-item input[type="checkbox"]:checked::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #007bff;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top:3.8px;
}

.task-item button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  margin-left: auto;
  transition: background-color 0.3s, transform 0.3s;
}

.task-item button:hover {
  background-color: #cc0000;
  transform: scale(1.1);
}

.task-item.completed h4 {
  text-decoration: line-through;
  color: #888;
}

